{% extends 'nav.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Css/two_css.css">
    <title>my website</title>
</head>
<body>
    <h1 id="title">Introduction</h1>
    <p class="para-text">Bo you know  who you really are and what you are capable 
        of?</p>
    <P class="para-text">i'am sure  you think so,but just beause you belive something
         doesn't make it true. Denial is the ultimate comfort Zone</P>
    <br/>
    <h2 Class="subtitle">ABOUT ME</h2>
    <img src="../pexels-tyler-tornberg-1622508.jpg" width="800"
    height="800"/>
    <p class="para-text">My self <b>B.Harishchandra reddy</b> I am from kurnool ,pursuing engineer.There are four numbers in my
         family.They are my father,my mother,myolder brother and me.my father is a farmer.My mother is a housewife.
         I <b>Love</b> my family.
         Currently I am learing web development.
         <b> Myself </b> How to improve my self for the developing al these things 
         within 5 days i want to learn html,javascript and css.After that i want learn reatjs for the frontend development purpose
         after complition that i would like start the Backend developer with using django.All these tasks complete with the 2 monthys upto 2 half months.
        <ul>
            <li class="list-item">b.tech</li>
            <li class="list-item">intermediate</li>
            <li class="list-item">tenth</li>
        </ul>  
        </p>
        <a href="https://www.google.com" class="link">Click here to go to Google</a>
        <h2 class="subtitle">learing</h2>
        <table>
            <thead>
                <tr>
                    <td>python</td>
                    <td>c_language</td>
                    <td>javascript</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>coder</td>
                    <td>programmer</td>
                    <td>thinker</td>
                </tr>
                <tr>
                    <td>one</td>
                    <td>two</td>
                    <td>three</td>
                </tr>
            </tbody>
        </table>
        <div id="service-image"></div>
        <img src="
        ../pexels-shiva-kumar-4595294.jpg" width="500" heght="300"/>
        <h2 class="subtitle">Contact me</h2>
        <form>
            <input type="text" placeholder="Full Name" class="form-input">
            <input type="email" placeholder="Email" class="form-input">
            <textarea></textarea>
            <button>submit</button>
        </form>
</body>
</html>
{% endblock %}